
.Tnm-listItem {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.Tnm-listItem img {
    max-width: 100%;
    margin-top: .066667rem;
    height: 80%;
}
.Tnm-listItem-desc {
    float:left;
    width: 80px;
    padding: 0.5%;
}
.Tnm-listItem-detail {
    padding: .066667rem;
    margin-left: 80px;
    height: 100%;
}