 .tnm-news {
     margin: 0;
     padding: 0;
} 
.tnm-gallery-desc {
    width: 60px;
    border-left: none;
    height: 100%;
    background-color: #fff;
} 
.tnm-gallery-detail {
    flex: 1;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #fff;
}
.tnm-gallery-detail h2 {
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: .066667rem;
}
.tnm-img {
    padding: .133333rem;
    height: 100%;
}
.tnm-news li {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1.5rem;
    justify-content: center;
    background-color: #000;
    border-bottom: .013333rem solid #eee;
}
.tnm-news li:last-of-type {
    border-bottom: none;
}
.tnm-gallery-count {
    float: right;
    margin-right: .133333rem;
    color: #999;
    font-size: 10px;
}